<div class='{{ headContainer }}'>
  <h1 class="{{ headTextClass }}">
    {{ headText }}
  </h1>
  {% if headSubText %}
    <p class="{{ headSubTextClass }}">
      {{ headSubText }}
    </p>
  {% endif %}
</div>
